<div>
  <h2 id="page-heading" data-cy="AddressHeading">
    <span>Addresses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-address"
        [routerLink]="['/address/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Address</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (addresses?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Addresses found</span>
    </div>
  }

  @if (addresses && addresses.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="streetNumber">
              <div class="d-flex">
                <span>Street Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="streetName">
              <div class="d-flex">
                <span>Street Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unitNumber">
              <div class="d-flex">
                <span>Unit Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="postalCode">
              <div class="d-flex">
                <span>Postal Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="city">
              <div class="d-flex">
                <span>City</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="province">
              <div class="d-flex">
                <span>Province</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="countries">
              <div class="d-flex">
                <span>Countries</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="poBox">
              <div class="d-flex">
                <span>Po Box</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span>Last Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span>Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span>Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span>Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (address of addresses; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/address', address.id, 'view']">{{ address.id }}</a>
              </td>
              <td>{{ address.streetNumber }}</td>
              <td>{{ address.streetName }}</td>
              <td>{{ address.unitNumber }}</td>
              <td>{{ address.postalCode }}</td>
              <td>{{ address.city }}</td>
              <td>{{ address.province }}</td>
              <td>{{ address.countries }}</td>
              <td>{{ address.poBox }}</td>
              <td>{{ address.lastModifiedBy }}</td>
              <td>{{ address.lastModifiedDate | formatMediumDatetime }}</td>
              <td>{{ address.createdDate | formatMediumDatetime }}</td>
              <td>{{ address.createdBy }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/address', address.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/address', address.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(address)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (addresses && addresses.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
