<div class="row">
  <div class="col-sm-6">
    <bc-condition-left [medicalClient]="medicalClient" [leftConditions]="leftCondition" (leftEventEmitter)="leftCheck($event)">
    </bc-condition-left>
  </div>

  <div class="col-sm-6">
    <bc-condition-right [medicalClient]="medicalClient" [rightConditions]="rightCondition" (rightEventEmitter)="rightCheck($event)">
    </bc-condition-right>
  </div>
</div>
<br />
<div class="row">
  <div class="btn-group flex-btn-group-container right">
    <button type="submit" (click)="save()" class="btn btn-outline-primary">
      <i class="fa fa-1x fa-save"></i>
      <span jhiTranslate="entity.action.save">Save</span>
    </button>
    <span jhiTranslate="ermConsoleApp.ehc.empty"></span>
  </div>
</div>
<br />
