&nbsp;
<h5><span jhiTranslate="ermConsoleApp.mva.viewMva">MVA Info</span></h5>
<br />
<div class="form-group row">
  &nbsp;&nbsp;&nbsp;<label class="switch">
    <input class="largerCheckbox" type="checkbox" (change)="checkEditMode($event)" />
    <span class="slider round"></span> </label
  >&nbsp;
</div>
<br />
<form name="editForm" role="form" novalidate [formGroup]="editForm">
  <div class="mt-lg-6">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.mva.insurance" for="field_insurance">Insurance</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="insurance" id="field_insurance" formControlName="insurance" [readOnly]="!editMode" />
        <div *ngIf="editForm.get('insurance')!.invalid && (editForm.get('insurance')!.dirty || editForm.get('insurance')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="(editForm.get('insurance')?.errors)!.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
          <!--                        <small class="form-text text-danger"-->
          <!--                               *ngIf="editForm.get('insurance')?.errors!.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">-->
          <!--                            This field cannot be longer than 50 characters.-->
          <!--                        </small>-->

          <small
            class="form-text text-danger"
            *ngIf="(editForm.get('insurance')?.errors)!.maxlength"
            jhiTranslate="entity.validation.maxlength"
          >
            This field cannot be longer than 50 characters.
          </small>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.mva.claimNumber" for="field_claimNumber"
        >Claim Number</label
      >
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          name="claimNumber"
          id="field_claimNumber"
          formControlName="claimNumber"
          [readOnly]="!editMode"
        />
        <div *ngIf="editForm.get('claimNumber')!.invalid && (editForm.get('claimNumber')!.dirty || editForm.get('claimNumber')!.touched)">
          <!--                        <small class="form-text text-danger"-->
          <!--                               *ngIf="editForm.get('claimNumber')?.errors!.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">-->
          <!--                            This field cannot be longer than 50 characters.-->
          <!--                        </small>-->

          <small
            class="form-text text-danger"
            *ngIf="(editForm.get('claimNumber')?.errors)!.maxlength"
            jhiTranslate="entity.validation.maxlength"
          >
            This field cannot be longer than 50 characters.
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.mva.accidentDate"></label>
      <div class="col-sm-3" *ngIf="editMode">
        <div class="input-group">
          <input
            id="field_accidentDate"
            type="text"
            class="form-control"
            name="accidentDate"
            ngbDatepicker
            #accidentDateDp="ngbDatepicker"
            formControlName="accidentDate"
          />
          <span class="input-group-append">
            <button type="button" class="btn btn-secondary" (click)="accidentDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </span>
        </div>
      </div>
      <div class="col-sm-3" *ngIf="!editMode">
        <input
          id="field_accidentDate2"
          type="text"
          class="form-control"
          name="accidentDate"
          formControlName="accidentDate"
          placeholder="YYYY-MM-DD"
          readonly
        />
      </div>
      <label class="col-sm-1 col-form-label text-right" jhiTranslate="ermConsoleApp.mva.status">Status</label>
      <div class="col-sm-2" *ngIf="editMode">
        <select class="form-control" name="status" (change)="changeStatus($event)">
          <option *ngFor="let st of statuses" [selected]="selectedMva.status != null && selectedMva.status == st" [value]="st">
            {{ st }}
          </option>
        </select>
      </div>
      <div class="col-sm-2" *ngIf="!editMode">
        <input id="field_status_2" type="text" class="form-control" name="status" formControlName="status" readonly />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.mva.adjuster" for="field_adjuster">Adjuster</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="adjuster" id="field_adjuster" formControlName="adjuster" [readOnly]="!editMode" />
        <div *ngIf="editForm.get('adjuster')!.invalid && (editForm.get('adjuster')!.dirty || editForm.get('adjuster')!.touched)">
          <!--                        <small class="form-text text-danger"-->
          <!--                               *ngIf="editForm.get('adjuster')?.errors!.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">-->
          <!--                            This field cannot be longer than 50 characters.-->
          <!--                        </small>-->

          <small
            class="form-text text-danger"
            *ngIf="(editForm.get('adjuster')?.errors)!.maxlength"
            jhiTranslate="entity.validation.maxlength"
          >
            This field cannot be longer than 50 characters.
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.mva.phone" for="field_phone">Phone</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="phone" id="field_phone" formControlName="phone" [readOnly]="!editMode" />
        <div *ngIf="editForm.get('phone')!.invalid && (editForm.get('phone')!.dirty || editForm.get('phone')!.touched)">
          <!--                        <small class="form-text text-danger"-->
          <!--                               *ngIf="editForm.get('phone')?.errors!.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 12 }">-->
          <!--                            This field cannot be longer than 12 characters.-->
          <!--                        </small>-->

          <small
            class="form-text text-danger"
            *ngIf="(editForm.get('phone')?.errors)!.maxlength"
            jhiTranslate="entity.validation.maxlength"
          >
            This field cannot be longer than 12 characters.
          </small>
        </div>
      </div>

      <label class="col-sm-1 col-form-label text-right" jhiTranslate="ermConsoleApp.mva.phoneExtension" for="field_phoneExtension"
        >Phone Extension</label
      >
      <div class="col-sm-2">
        <input
          type="text"
          class="form-control"
          name="phoneExtension"
          id="field_phoneExtension"
          formControlName="phoneExtension"
          [readOnly]="!editMode"
        />
        <div
          *ngIf="
            editForm.get('phoneExtension')!.invalid && (editForm.get('phoneExtension')!.dirty || editForm.get('phoneExtension')!.touched)
          "
        >
          <!--                        <small class="form-text text-danger"-->
          <!--                               *ngIf="editForm.get('phoneExtension')?.errors!.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">-->
          <!--                            This field cannot be longer than 10 characters.-->
          <!--                        </small>-->

          <small
            class="form-text text-danger"
            *ngIf="(editForm.get('phoneExtension')?.errors)!.maxlength"
            jhiTranslate="entity.validation.maxlength"
          >
            This field cannot be longer than 10 characters.
          </small>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.mva.cellPhone" for="field_cellPhone">Cell Phone</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="cellPhone" id="field_cellPhone" formControlName="cellPhone" [readOnly]="!editMode" />
        <div *ngIf="editForm.get('cellPhone')!.invalid && (editForm.get('cellPhone')!.dirty || editForm.get('cellPhone')!.touched)">
          <!--                        <small class="form-text text-danger"-->
          <!--                               *ngIf="editForm.get('cellPhone')?.errors!.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 12 }">-->
          <!--                            This field cannot be longer than 12 characters.-->
          <!--                        </small>-->

          <small
            class="form-text text-danger"
            *ngIf="(editForm.get('cellPhone')?.errors)!.maxlength"
            jhiTranslate="entity.validation.maxlength"
          >
            This field cannot be longer than 12 characters.
          </small>
        </div>
      </div>
      <label class="col-sm-1 col-form-label text-right" jhiTranslate="ermConsoleApp.mva.fax" for="field_fax">Fax</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" name="fax" id="field_fax" formControlName="fax" [readOnly]="!editMode" />
        <div *ngIf="editForm.get('fax')!.invalid && (editForm.get('fax')!.dirty || editForm.get('fax')!.touched)">
          <!--                        <small class="form-text text-danger"-->
          <!--                               *ngIf="editForm.get('fax')?.errors!.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 12 }">-->
          <!--                            This field cannot be longer than 12 characters.-->
          <!--                        </small>-->

          <small class="form-text text-danger" *ngIf="(editForm.get('fax')?.errors)!.maxlength" jhiTranslate="entity.validation.maxlength">
            This field cannot be longer than 12 characters.
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.mva.email" for="field_email">Email</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="email" id="field_email" formControlName="email" [readOnly]="!editMode" />
        <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
          <!--                        <small class="form-text text-danger"-->
          <!--                               *ngIf="editForm.get('email')?.errors!.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">-->
          <!--                            This field cannot be longer than 50 characters.-->
          <!--                        </small>-->

          <small
            class="form-text text-danger"
            *ngIf="(editForm.get('email')?.errors)!.maxlength"
            jhiTranslate="entity.validation.maxlength"
          >
            This field cannot be longer than 50 characters.
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.mva.note" for="field_note">Note</label>
      <div class="col-sm-6">
        <textarea type="text" class="form-control" name="note" id="field_note" formControlName="note" [readOnly]="!editMode"></textarea>
        <div *ngIf="editForm.get('note')!.invalid && (editForm.get('note')!.dirty || editForm.get('note')!.touched)">
          <!--                        <small class="form-text text-danger"-->
          <!--                               *ngIf="editForm.get('note')?.errors!.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 350 }">-->
          <!--                            This field cannot be longer than 350 characters.-->
          <!--                        </small>-->

          <small class="form-text text-danger" *ngIf="(editForm.get('note')?.errors)!.maxlength" jhiTranslate="entity.validation.maxlength">
            This field cannot be longer than 350 characters.
          </small>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.mva.lastModifiedDate" for="field_lastModifiedDate"
        >Last Modified Date</label
      >
      <div class="col-sm-6">
        <input
          id="field_lastModifiedDate"
          type="datetime-local"
          class="form-control"
          name="lastModifiedDate"
          formControlName="lastModifiedDate"
          placeholder="YYYY-MM-DD HH:mm"
          readOnly
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.mva.closingDate"></label>
      <div class="col-sm-3" *ngIf="editMode">
        <div class="input-group">
          <input
            id="field_closeDate"
            type="text"
            class="form-control"
            name="closeDate"
            ngbDatepicker
            #closeDateDp="ngbDatepicker"
            formControlName="closeDate"
          />
          <span class="input-group-append">
            <button type="button" class="btn btn-secondary" (click)="closeDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </span>
        </div>
      </div>
      <div class="col-sm-3" *ngIf="!editMode">
        <input
          id="field_closeDate_2"
          type="text"
          class="form-control"
          name="closeDate"
          formControlName="closeDate"
          placeholder="YYYY-MM-DD"
          readonly
        />
      </div>
    </div>
  </div>
</form>
<br />
<div class="form-group row">
  <div class="col-sm-8 text-right">
    <div class="btn-group flex-btn-group-container">
      <span jhiTranslate="ermConsoleApp.ehc.empty"></span>
      <button type="submit" (click)="save()" [disabled]="editForm.invalid || !editMode" class="btn btn-outline-primary">
        <i class="fa fa-1x fa-save"></i>
        <span jhiTranslate="ermConsoleApp.client.savePersonal"></span>
      </button>
    </div>
  </div>
</div>
