<form name="deleteForm" (ngSubmit)="confirmDelete()">
  <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete:</h4>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <!--        <p jhiTranslate="ermConsoleApp.mva.delete.question" [translateValues]="{ insurance: mva.insurance }"></p>-->
    <p jhiTranslate="ermConsoleApp.mva.delete.question"></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
      <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" class="btn btn-danger">
      <span class="fa fa-remove"></span>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
