<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (ehc) {
      <div>
        <h2 data-cy="ehcDetailsHeading"><span>Ehc</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ ehc.id }}</span>
          </dd>
          <dt><span>Certificate Number</span></dt>
          <dd>
            <span>{{ ehc.certificateNumber }}</span>
          </dd>
          <dt><span>Policy Number</span></dt>
          <dd>
            <span>{{ ehc.policyNumber }}</span>
          </dd>
          <dt><span>Policy Holder</span></dt>
          <dd>
            <span>{{ ehc.policyHolder }}</span>
          </dd>
          <dt><span>Group Number</span></dt>
          <dd>
            <span>{{ ehc.groupNumber }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ ehc.name }}</span>
          </dd>
          <dt><span>Note</span></dt>
          <dd>
            <span>{{ ehc.note }}</span>
          </dd>
          <dt><span>Type</span></dt>
          <dd>
            <span>{{ ehc.type }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ ehc.status }}</span>
          </dd>
          <dt><span>End Date</span></dt>
          <dd>
            <span>{{ ehc.endDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Phone</span></dt>
          <dd>
            <span>{{ ehc.phone }}</span>
          </dd>
          <dt><span>Fax</span></dt>
          <dd>
            <span>{{ ehc.fax }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ ehc.email }}</span>
          </dd>
          <dt><span>Client Id</span></dt>
          <dd>
            <span>{{ ehc.clientId }}</span>
          </dd>
          <dt><span>Address Id</span></dt>
          <dd>
            <span>{{ ehc.addressId }}</span>
          </dd>
          <dt><span>Coverages</span></dt>
          <dd>
            <span>{{ ehc.coverages }}</span>
          </dd>
          <dt><span>Ehc Client</span></dt>
          <dd>
            <span>{{ ehc.ehcClient }}</span>
          </dd>
          <dt><span>Dependents</span></dt>
          <dd>
            <span>{{ ehc.dependents }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ ehc.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ ehc.createdBy }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ ehc.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ ehc.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/ehc', ehc.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
