<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (injury) {
      <div>
        <h2 data-cy="injuryDetailsHeading"><span>Injury</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ injury.id }}</span>
          </dd>
          <dt><span>Name Type</span></dt>
          <dd>
            <span>{{ injury.nameType }}</span>
          </dd>
          <dt><span>Happen Date</span></dt>
          <dd>
            <span>{{ injury.happenDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Note</span></dt>
          <dd>
            <span>{{ injury.note }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ injury.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ injury.createdBy }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ injury.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ injury.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/injury', injury.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
