<h5><span jhiTranslate="ermConsoleApp.exerGroup.inGroupExercise"></span></h5>
<table class="header_detail">
  <thead></thead>
  <tbody>
    <tr>
      <td class="td_label"><span jhiTranslate="ermConsoleApp.prog.programName"> </span> &nbsp;</td>
      <td class="td_grey_center_bal">
        {{ selectedProg.name }}
      </td>
    </tr>
    <tr>
      <td class="td_label"><span jhiTranslate="ermConsoleApp.exerGroup.group"> </span> &nbsp;</td>
      <td class="td_grey_center_bal">
        {{ selectedExerciseGroup.name }}
      </td>
    </tr>
  </tbody>
</table>
<div
  class="alert alert-warning"
  id="no-result"
  *ngIf="
    currentExerciseIds &&
    currentExerciseIds.length &&
    currentExerciseIds.length === 0 &&
    exercises &&
    exercises.length &&
    exercises.length > 0
  "
>
  <span jhiTranslate="ermConsoleApp.exerGroup.noExerciseSelected">No instructions found</span>
</div>
<div class="alert alert-warning" id="no-result-exercose" *ngIf="exercises && exercises!.length === 0">
  <span jhiTranslate="ermConsoleApp.exerGroupDetaill.home.notFound">Not found</span>
</div>

<br />
<div class="table-responsive" id="entities">
  <table class="table table-striped" aria-describedby="page-heading">
    <thead>
      <!--                <tr jhiSort [(predicate)]="predicate"-->
      <!--                    [(ascending)]="ascending"-->
      <!--                    [callback]="loadExercisePage.bind(this)">-->

      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
        <th scope="col" jhiSortBy="name"><span jhiTranslate="ermConsoleApp.exercise.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
        <th scope="col" jhiSortBy="bodyPart">
          <span jhiTranslate="ermConsoleApp.exercise.bodyPart">Body Part</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="muscle">
          <span jhiTranslate="ermConsoleApp.exercise.muscle">Muscle</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="firstMediaId">
          <span jhiTranslate="ermConsoleApp.exercise.firstMedia">First Media Id</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="secondMediaId">
          <span jhiTranslate="ermConsoleApp.exercise.secondMedia">Second Media Id</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ex of exercises; trackBy: trackId">
        <td>
          <a [routerLink]="['/exercise', ex.id, 'view']">{{ ex.name }}</a>
        </td>
        <td>{{ getBodyPart(ex) }}</td>
        <td>{{ getMuscle(ex) }}</td>
        <td>
          <a *ngIf="ex.firstMediaId">
            <img [src]="addSrcMedia(ex.firstMediaId)" style="max-height: 50px" alt="media image" />
          </a>
        </td>
        <td>
          <a *ngIf="ex.secondMediaId">
            <img [src]="addSrcMedia(ex.secondMediaId)" style="max-height: 50px" alt="media image" />
          </a>
        </td>
        <td class="text-right"></td>

        <td style="text-align: right">
          <div class="btn-group flex-btn-group-container">
            <span jhiTranslate="ermConsoleApp.ehc.empty"></span>
            <button type="submit" (click)="groupInstruction(ex)" [disabled]="isEnable(ex)" class="btn btn-outline-info">
              &nbsp;<span jhiTranslate="ermConsoleApp.exerGroup.instruction"></span>&nbsp;&nbsp;
              <i class="fa fa-1x fa-arrow-right"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<table class="exercise_top">
  <thead>
    <tr>
      <th class="th_label_center">
        <div *ngIf="exercises && exercises.length > 0">
          <div class="row justify-content-center">
            <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"> </jhi-item-count>
          </div>

          <div class="row justify-content-center">
            <ngb-pagination
              [collectionSize]="totalItems"
              [(page)]="ngbPaginationPage"
              [pageSize]="itemsPerPage"
              [maxSize]="5"
              [rotate]="true"
              [boundaryLinks]="true"
              (pageChange)="loadExercisePage($event)"
            ></ngb-pagination>
          </div>
        </div>
      </th>
    </tr>
  </thead>
</table>
