<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-prog-group-instruction-heading" data-cy="ProgGroupInstructionCreateUpdateHeading">
        Create or edit a Prog Group Instruction
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_exerciseId">Exercise Id</label>
          <input
            type="number"
            class="form-control"
            name="exerciseId"
            id="field_exerciseId"
            data-cy="exerciseId"
            formControlName="exerciseId"
          />
          @if (editForm.get('exerciseId')!.invalid && (editForm.get('exerciseId')!.dirty || editForm.get('exerciseId')!.touched)) {
            <div>
              @if ((editForm.get('exerciseId')?.errors)!.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!(editForm.get('exerciseId')?.errors)!.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_progId">Prog Id</label>
          <input type="number" class="form-control" name="progId" id="field_progId" data-cy="progId" formControlName="progId" />
          @if (editForm.get('progId')!.invalid && (editForm.get('progId')!.dirty || editForm.get('progId')!.touched)) {
            <div>
              @if ((editForm.get('progId')?.errors)!.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!(editForm.get('progId')?.errors)!.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_groupId">Group Id</label>
          <input type="number" class="form-control" name="groupId" id="field_groupId" data-cy="groupId" formControlName="groupId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_instructionId">Instruction Id</label>
          <input
            type="number"
            class="form-control"
            name="instructionId"
            id="field_instructionId"
            data-cy="instructionId"
            formControlName="instructionId"
          />
          @if (editForm.get('instructionId')!.invalid && (editForm.get('instructionId')!.dirty || editForm.get('instructionId')!.touched)) {
            <div>
              @if ((editForm.get('instructionId')?.errors)!.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!(editForm.get('instructionId')?.errors)!.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastModifiedDate">Last Modified Date</label>
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
