<div class="row justify-content-center">
  <div class="col-10">
    <div class="input-group w-100 mt-3">
      <form name="searchForm" class="form-inline">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'ermConsoleApp.commonServiceCode.search' | translate }}"
        />
        <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
          <span class="fa fa-search"></span>
        </button>
        <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
          <span class="fa fa-trash-o"></span>
        </button>
      </form>
    </div>
    <br />
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="td_100">
            <div class="percent_100">
              <div class="table-responsive" id="entities2">
                <table class="table table-striped" aria-describedby="page-heading">
                  <thead>
                    <tr
                      style="background-color: white"
                      jhiSort
                      [(predicate)]="predicate"
                      [(ascending)]="ascending"
                      [callback]="loadAll.bind(this)"
                    >
                      <th class="td_1">
                        <i class="fa fa-2x fa-trash-o" (click)="removeSelectService()"></i>
                      </th>
                      <th scope="col" jhiSortBy="serviceCode">
                        <span jhiTranslate="ermConsoleApp.myService.ontarioServiceCode">Service Code</span> <fa-icon icon="sort"></fa-icon>
                      </th>
                      <th scope="col" jhiSortBy="serviceType">
                        <span jhiTranslate="ermConsoleApp.commonServiceCode.serviceType">Service Type</span> <fa-icon icon="sort"></fa-icon>
                      </th>
                      <th scope="col" jhiSortBy="description">
                        <span jhiTranslate="ermConsoleApp.commonServiceCode.description">Description</span> <fa-icon icon="sort"></fa-icon>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let com of commonServiceCodes; trackBy: trackId">
                      <td class="td_1">
                        <input
                          class="align-content-center"
                          type="radio"
                          name="selectedCommonServiceCode"
                          (change)="addSelectService(com)"
                          [checked]="isSelected(com)"
                        />
                      </td>
                      <td class="td_7">{{ com.serviceCode }}</td>
                      <td class="td_5">{{ getServiceType(com) }}</td>
                      <td class="td_20">{{ com.description }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="commonServiceCodes && commonServiceCodes.length > 0">
                <div class="row justify-content-center">
                  <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                  <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
              </div>
            </div>
            <div class="divTable_white_100"></div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="modal-footer">
      <button type="submit" id="save-entity" (click)="save()" class="btn btn-primary">
        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
      </button>
    </div>
  </div>
</div>
