<div>
  <h2 id="page-heading" data-cy="MedicalHeading">
    <span>Medicals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-medical"
        [routerLink]="['/medical/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Medical</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (medicals?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Medicals found</span>
    </div>
  }

  @if (medicals && medicals.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="clientId">
              <div class="d-flex">
                <span>Client Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="injuryId">
              <div class="d-flex">
                <span>Injury Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="medicationId">
              <div class="d-flex">
                <span>Medication Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="conditionId">
              <div class="d-flex">
                <span>Condition Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="operationId">
              <div class="d-flex">
                <span>Operation Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (medical of medicals; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/medical', medical.id, 'view']">{{ medical.id }}</a>
              </td>
              <td>{{ medical.clientId }}</td>
              <td>{{ medical.injuryId }}</td>
              <td>{{ medical.medicationId }}</td>
              <td>{{ medical.conditionId }}</td>
              <td>{{ medical.operationId }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/medical', medical.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/medical', medical.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(medical)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
