<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (operation) {
      <div>
        <h2 data-cy="operationDetailsHeading"><span>Operation</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ operation.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ operation.name }}</span>
          </dd>
          <dt><span>Operation Date</span></dt>
          <dd>
            <span>{{ operation.operationDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Reason For</span></dt>
          <dd>
            <span>{{ operation.reasonFor }}</span>
          </dd>
          <dt><span>Note</span></dt>
          <dd>
            <span>{{ operation.note }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ operation.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ operation.createdBy }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ operation.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ operation.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/operation', operation.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
