<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (myService) {
      <div>
        <h2 data-cy="myServiceDetailsHeading"><span>My Service</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ myService.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ myService.name }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ myService.description }}</span>
          </dd>
          <dt><span>Common Service Code Id</span></dt>
          <dd>
            <span>{{ myService.commonServiceCodeId }}</span>
          </dd>
          <dt><span>Common Service Code</span></dt>
          <dd>
            <span>{{ myService.commonServiceCode }}</span>
          </dd>
          <dt><span>Unit</span></dt>
          <dd>
            <span>{{ myService.unit }}</span>
          </dd>
          <dt><span>Note</span></dt>
          <dd>
            <span>{{ myService.note }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ myService.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ myService.createdBy | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ myService.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ myService.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/my-service', myService.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
