<!--&nbsp;<h5><span jhiTranslate="ermConsoleApp.assessment.assessmentDetail">MVA Info</span></h5>-->

<h5><span jhiTranslate="ermConsoleApp.assessment.viewAssessment"></span></h5>
<br />
<div class="form-group row" *ngIf="selectedAssessment && selectedAssessment.soapNote">
  <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.plan.edit"></label>
  <div class="col-sm-4">
    <label class="switch">
      <input class="largerCheckbox" type="checkbox" (change)="checkEditMode($event)" />
      <span class="slider round"></span> </label
    >&nbsp;
  </div>
</div>
<div *ngIf="!selectedAssessment || !selectedAssessment.soapNote">
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="ermConsoleApp.assessment.notFound"></span>
  </div>
</div>
<div *ngIf="selectedAssessment && selectedAssessment.soapNote">
  <form name="editForm" role="form" novalidate #editForm="ngForm">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.assessment.soapNoteName"></label>
      <div class="col-sm-8" *ngIf="selectedAssessment && selectedAssessment.soapNote">
        <input type="text" class="form-control" name="name" value="{{ selectedAssessment!.soapNote!.name }}" readonly />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.assessment.name"></label>
      <div class="col-sm-4">
        <input
          type="text"
          class="form-control"
          name="name"
          id="field_name"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="selectedAssessment.name"
          required
          [minLength]="1"
          [maxlength]="50"
          [readOnly]="!editMode"
        />
        <small
          class="form-control-feedback text-danger"
          [hidden]="!editForm.controls.name.errors!.required"
          jhiTranslate="entity.validation.required"
          >This field is required.
        </small>
        <small
          class="form-text text-danger"
          [hidden]="!editForm.controls.name.errors!.minlength"
          jhiTranslate="entity.validation.minlength"
          translateValues="{ min: 1 }"
        >
          This field is required to be at least 3 characters.
        </small>
        <small
          class="form-text text-danger"
          [hidden]="!editForm.controls.name.errors!.maxlength"
          jhiTranslate="entity.validation.maxlength"
          translateValues="{ max: 50 }"
        >
          This field cannot be longer than 50 characters.
        </small>
      </div>

      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.assessment.painIntensity">painIntensity</label>
      <div class="col-sm-2">
        <input
          type="number"
          class="form-control"
          name="painIntensity"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="selectedAssessment.painIntensity"
          [readOnly]="!editMode"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.assessment.sourcePain">Insurance</label>
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          name="sourcePain"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="selectedAssessment.sourcePain"
          [readOnly]="!editMode"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.assessment.empty"></label>
      <div class="col-sm-4">
        <label class="col-form-label text-right" jhiTranslate="ermConsoleApp.assessment.sudden"></label>&nbsp;
        <label class="switch">
          <input
            class="largerCheckbox_20"
            [disabled]="!editMode"
            name="sudden"
            type="checkbox"
            (change)="addOrRemoveOnset($event, 'sudden')"
            [checked]="isSuddenSelected()"
          />
          <span class="slider round"></span>
        </label>
      </div>

      <div class="col-sm-4">
        &nbsp;<label class="col-form-label text-right" jhiTranslate="ermConsoleApp.assessment.gradual">gradual</label>&nbsp;
        &nbsp;&nbsp;<label class="switch">
          <input
            class="largerCheckbox_20"
            [disabled]="!editMode"
            name="gradual"
            type="checkbox"
            (change)="addOrRemoveOnset($event, 'gradual')"
            [checked]="isGradualSelected()"
          />
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="form-group row"></div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.assessment.empty"></label>
      <div class="col-sm-4">
        &nbsp;<label class="col-form-label text-right" jhiTranslate="ermConsoleApp.assessment.sharp">Sharp</label>&nbsp;&nbsp;&nbsp;
        <label class="switch"
          >&nbsp;
          <input
            class="largerCheckbox_20"
            [disabled]="!editMode"
            name="sharp"
            type="checkbox"
            (change)="addOrRemoveAggravation($event, 'sharp')"
            [checked]="isSharpSelected()"
          />
          <span class="slider round"></span>
        </label>
      </div>
      <div class="col-sm-4">
        &nbsp;<label class="col-form-label text-right" jhiTranslate="ermConsoleApp.assessment.throbbing">throbbing</label>
        <label class="switch">
          <input
            class="largerCheckbox_20"
            [disabled]="!editMode"
            name="throbbing"
            type="checkbox"
            (change)="addOrRemoveAggravation($event, 'throbbing')"
            [checked]="isThrobbingSelected()"
          />
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div class="form-group row" *ngIf="!deleteSelectedPlan">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.assessment.treatments"></label>
      <div class="col-sm-8">
        <table class="table table-borderless" *ngIf="selectedAssessment && selectedAssessment.plans && selectedAssessment.plans.length > 0">
          <thead>
            <tr>
              <th></th>
              <th><span jhiTranslate="ermConsoleApp.assessment.name"></span></th>
              <th><span jhiTranslate="ermConsoleApp.assessment.status"></span></th>
              <th><span jhiTranslate="ermConsoleApp.assessment.modified"></span></th>
              <th></th>
            </tr>
          </thead>
          <tr *ngFor="let plan of selectedAssessment.plans; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              <a class="my-alert-link" (click)="onSelectPlan(plan)">{{ plan.name }}</a>
            </td>
            <td>
              <a class="my-alert-link" (click)="onSelectPlan(plan)">{{ plan.status }}</a>
            </td>
            <td>
              <a class="my-alert-link" (click)="onSelectPlan(plan)">{{ plan.lastModifiedDate!.format('YYYY-MM-DD HH:mm') }}</a>
            </td>
            <td class="text-right">
              <div class="not-selected" *ngIf="editMode">
                <i class="fa fa-2x fa-trash-o" (click)="deleteRow(plan)"></i>
              </div>
              <div class="selected" *ngIf="!editMode">
                <i class="fa fa-2x fa-trash-o" (click)="deleteRow(plan)"></i>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!--  div to delete  -->
    <div class="form-group row" *ngIf="deleteSelectedPlan">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.assessment.treatments">note</label>
      <div class="col-sm-8">
        <bc-assessment-treatment-delete
          [plan]="selectedPlan"
          (cancelTreatmentDeleteEmitter)="cancelDeletePlan()"
          (confirmDelAssessmentTabTreatmentEmitter)="afterDeleteTreatment($event)"
          (confirmDelSoapNoteTabTreatmentEmitter)="goToSoapNote($event)"
        >
        </bc-assessment-treatment-delete>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.assessment.note">note</label>
      <div class="col-sm-8">
        <textarea
          type="text"
          class="form-control"
          name="note"
          [readOnly]="!editMode"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="selectedAssessment.note"
          *ngIf="selectedAssessment"
        ></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.assessment.createdDate">createdDate</label>
      <div class="col-md-8">
        <input type="text" class="form-control" name="createdDate" [value]="getFormatDate(selectedAssessment!.createdDate!)" readonly />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.mva.lastModifiedDate">Last Modified Date</label>
      <div class="col-md-8">
        <input
          type="text"
          class="form-control"
          name="lastModifiedDate"
          [value]="getFormatDate(selectedAssessment!.lastModifiedDate!)"
          readonly
        />
      </div>
    </div>
  </form>

  <div class="form-group row">
    <div class="col-sm-10 text-right">
      <div class="btn-group flex-btn-group-container">
        <span jhiTranslate="ermConsoleApp.ehc.empty"></span>
        <button type="submit" (click)="save()" [disabled]="editForm.invalid || !editMode" class="btn btn-outline-primary">
          <i class="fa fa-1x fa-save"></i>
          <span jhiTranslate="ermConsoleApp.assessment.save"></span>
        </button>
      </div>
    </div>
  </div>
</div>
