<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-insurance-heading" data-cy="InsuranceCreateUpdateHeading">Create or edit a Insurance</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_clientId">Client Id</label>
          <input type="number" class="form-control" name="clientId" id="field_clientId" data-cy="clientId" formControlName="clientId" />
          @if (editForm.get('clientId')!.invalid && (editForm.get('clientId')!.dirty || editForm.get('clientId')!.touched)) {
            <div>
              @if ((editForm.get('clientId')?.errors)!.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!(editForm.get('clientId')?.errors)!.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ehcId">Ehc Id</label>
          <input type="number" class="form-control" name="ehcId" id="field_ehcId" data-cy="ehcId" formControlName="ehcId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_coveragerId">Coverager Id</label>
          <input
            type="number"
            class="form-control"
            name="coveragerId"
            id="field_coveragerId"
            data-cy="coveragerId"
            formControlName="coveragerId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_mvaId">Mva Id</label>
          <input type="number" class="form-control" name="mvaId" id="field_mvaId" data-cy="mvaId" formControlName="mvaId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_wsibId">Wsib Id</label>
          <input type="number" class="form-control" name="wsibId" id="field_wsibId" data-cy="wsibId" formControlName="wsibId" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
