<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (prog) {
      <div>
        <h2 data-cy="progDetailsHeading"><span>Prog</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ prog.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ prog.name }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ prog.status }}</span>
          </dd>
          <dt><span>Client Id</span></dt>
          <dd>
            <span>{{ prog.clientId }}</span>
          </dd>
          <dt><span>Start Date</span></dt>
          <dd>
            <span>{{ prog.startDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>End Date</span></dt>
          <dd>
            <span>{{ prog.endDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Clinical Note</span></dt>
          <dd>
            <span>{{ prog.clinicalNote }}</span>
          </dd>
          <dt><span>Assessment Id</span></dt>
          <dd>
            <span>{{ prog.assessmentId }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ prog.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ prog.createdBy | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ prog.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ prog.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/prog', prog.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
