<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-my-service-heading" data-cy="MyServiceCreateUpdateHeading">Create or edit a My Service</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if ((editForm.get('name')?.errors)!.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              @if ((editForm.get('name')?.errors)!.minlength) {
                <small class="form-text text-danger">This field is required to be at least 1 characters.</small>
              }
              @if ((editForm.get('name')?.errors)!.maxlength) {
                <small class="form-text text-danger">This field cannot be longer than 50 characters.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          @if (editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)) {
            <div>
              @if ((editForm.get('description')?.errors)!.maxlength) {
                <small class="form-text text-danger">This field cannot be longer than 50 characters.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_commonServiceCodeId">Common Service Code Id</label>
          <input
            type="number"
            class="form-control"
            name="commonServiceCodeId"
            id="field_commonServiceCodeId"
            data-cy="commonServiceCodeId"
            formControlName="commonServiceCodeId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_commonServiceCode">Common Service Code</label>
          <input
            type="number"
            class="form-control"
            name="commonServiceCode"
            id="field_commonServiceCode"
            data-cy="commonServiceCode"
            formControlName="commonServiceCode"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_unit">Unit</label>
          <input type="text" class="form-control" name="unit" id="field_unit" data-cy="unit" formControlName="unit" />
          @if (editForm.get('unit')!.invalid && (editForm.get('unit')!.dirty || editForm.get('unit')!.touched)) {
            <div>
              @if ((editForm.get('unit')?.errors)!.maxlength) {
                <small class="form-text text-danger">This field cannot be longer than 50 characters.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_note">Note</label>
          <input type="text" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
          @if (editForm.get('note')!.invalid && (editForm.get('note')!.dirty || editForm.get('note')!.touched)) {
            <div>
              @if ((editForm.get('note')?.errors)!.maxlength) {
                <small class="form-text text-danger">This field cannot be longer than 350 characters.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdBy">Created By</label>
          <div class="d-flex">
            <input
              id="field_createdBy"
              data-cy="createdBy"
              type="datetime-local"
              class="form-control"
              name="createdBy"
              formControlName="createdBy"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastModifiedDate">Last Modified Date</label>
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
