<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (order) {
      <div>
        <h2 data-cy="orderDetailsHeading"><span>Order</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ order.id }}</span>
          </dd>
          <dt><span>Order Date</span></dt>
          <dd>
            <span>{{ order.orderDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Sub Total</span></dt>
          <dd>
            <span>{{ order.subTotal }}</span>
          </dd>
          <dt><span>Tax Total</span></dt>
          <dd>
            <span>{{ order.taxTotal }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ order.status }}</span>
          </dd>
          <dt><span>Note</span></dt>
          <dd>
            <span>{{ order.note }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ order.createdBy }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ order.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ order.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ order.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/order', order.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
