<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (planNote) {
      <div>
        <h2 data-cy="planNoteDetailsHeading"><span>Plan Note</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ planNote.id }}</span>
          </dd>
          <dt><span>Plan Id</span></dt>
          <dd>
            <span>{{ planNote.planId }}</span>
          </dd>
          <dt><span>Note</span></dt>
          <dd>
            <span>{{ planNote.note }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ planNote.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ planNote.createdBy }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ planNote.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modfied Date</span></dt>
          <dd>
            <span>{{ planNote.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/plan-note', planNote.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
