<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (progExerGroup) {
      <div>
        <h2 data-cy="progExerGroupDetailsHeading"><span>Prog Exer Group</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ progExerGroup.id }}</span>
          </dd>
          <dt><span>Exer Group Id</span></dt>
          <dd>
            <span>{{ progExerGroup.exerGroupId }}</span>
          </dd>
          <dt><span>Prog Id</span></dt>
          <dd>
            <span>{{ progExerGroup.progId }}</span>
          </dd>
          <dt><span>Created By</span></dt>
          <dd>
            <span>{{ progExerGroup.createdBy }}</span>
          </dd>
          <dt><span>Created Date</span></dt>
          <dd>
            <span>{{ progExerGroup.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Last Modified By</span></dt>
          <dd>
            <span>{{ progExerGroup.lastModifiedBy }}</span>
          </dd>
          <dt><span>Last Modified Date</span></dt>
          <dd>
            <span>{{ progExerGroup.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/prog-exer-group', progExerGroup.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
