<br />
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" *ngIf="myService">
      <div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.myService.name" for="field_name">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" id="field_name" formControlName="name" />
            <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="(editForm.get('name')?.errors)!.required"
                jhiTranslate="entity.validation.required"
              >
              </small>
              <small
                class="form-text text-danger"
                *ngIf="(editForm.get('name')?.errors)!.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.myService.description" for="field_description"
            >Frist name</label
          >
          <div class="col-sm-10">
            <textarea type="text" class="form-control" name="description" id="field_description" formControlName="description"></textarea>
            <div
              *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)"
            >
              <small
                class="form-text text-danger"
                *ngIf="(editForm.get('description')?.errors)!.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                *ngIf="(editForm.get('description')?.errors)!.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 500 }"
              >
                This field cannot be longer than 500 characters.
              </small>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.myService.ontarioServiceCode"></label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="commonServiceCode"
              id="field_commonServiceCode"
              formControlName="commonServiceCode"
              readonly
            />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.myService.unit"></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="unit" id="field_unit" formControlName="unit" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.myService.note"></label>
          <div class="col-sm-10">
            <textarea type="text" class="form-control" name="note" id="field_note" formControlName="note"></textarea>
            <div *ngIf="editForm.get('note')!.invalid && (editForm.get('note')!.dirty || editForm.get('note')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="(editForm.get('note')?.errors)!.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 350 }"
              >
                This field cannot be longer than 350 characters.
              </small>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.myService.lastModifiedBy"></label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="field_lastModifiedBy"
              formControlName="lastModifiedBy"
              readonly
            />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right" jhiTranslate="ermConsoleApp.myService.lastModifiedDate"></label>
          <div class="col-sm-10">
            <div class="d-flex">
              <input
                id="field_lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                formControlName="lastModifiedDate"
                placeholder="YYYY-MM-DD HH:mm"
                readonly
              />
              <!--                            <label class="col-sm-2 col-form-label text-right"-->
              <!--                                   jhiTranslate="ermConsoleApp.myService.lastModifiedDate"></label>-->
              <!--                            <input id="field_lastModifiedDate_2" type="datetime-local" class="form-control"-->
              <!--                                   name="lastModifiedDate" formControlName="lastModifiedDate" placeholder="YYYY-MM-DD HH:mm" readonly/>-->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" id="save-entity" [disabled]="editForm.invalid" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
