<h5><span jhiTranslate="ermConsoleApp.plan.listingTreatment">Plan Listing</span></h5>
<form name="searchForm" class="form-inline">
  <div class="input-group w-100 mt-3">
    <!--        <input type="text" (keydown.enter)="$event.preventDefault()" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch"-->
    <!--               placeholder="{{ 'ermConsoleApp.plan.home.search' | translate }}">-->

    <input
      type="text"
      (keydown.enter)="$event.preventDefault()"
      class="form-control"
      [(ngModel)]="currentSearch"
      id="currentSearch"
      name="currentSearch"
      placeholder="{{ 'ermConsoleApp.plan.home.search' }}"
    />
    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
      <span class="fa fa-search"></span>
    </button>
    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
      <span class="fa fa-trash-o"></span>
    </button>
    &nbsp;
  </div>
</form>

<table class="table table-striped">
  <thead>
    <!--    <tr jhiSort [(predicate)]="paginationParams.predicate"-->
    <!--        [(ascending)]="paginationParams.reverse"  [callback]="reorder.bind(this)">-->

    <tr jhiSort [(predicate)]="paginationParams.predicate" [(ascending)]="paginationParams.reverse">
      <th jhiSortBy="name"><span jhiTranslate="ermConsoleApp.plan.name">Name</span> <span class="fa fa-sort"></span></th>
      <th jhiSortBy="status"><span jhiTranslate="ermConsoleApp.plan.status">Start Date</span> <span class="fa fa-sort"></span></th>
      <th jhiSortBy="assessment.name">
        <span jhiTranslate="ermConsoleApp.plan.assessment">Start Date</span> <span class="fa fa-sort"></span>
      </th>
      <th jhiSortBy="lastModifiedDate">
        <span jhiTranslate="ermConsoleApp.plan.lastModifiedDate"></span> <span class="fa fa-sort"></span>
      </th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plan of plans; trackBy: trackId; let i = index">
      <td id="a-{{ i }}" (click)="ngOnSelectTreatmentPlan(plan)">
        <a class="nav-link" (click)="ngOnSelectTreatmentPlan(plan)">{{ plan.name }}</a>
      </td>
      <td>{{ plan.status }}</td>
      <td>{{ getAssessmentName(plan) }}</td>
      <td>{{ plan.lastModifiedDate?.format('YYYY-MM-DD HH:mm') }}</td>

      <td>
        <div class="btn-group flex-btn-group-container">
          <span jhiTranslate="ermConsoleApp.ehc.empty"></span>
          <div class="not-selected">
            <i class="fa fa-2x fa-trash-o" (click)="deletePlan(plan)"></i>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="plans && plans.length">
  <div class="row justify-content-center">
    <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"> </jhi-item-count>
  </div>
  <div class="row justify-content-center">
    <ngb-pagination
      [collectionSize]="totalItems"
      [(page)]="page"
      [pageSize]="itemsPerPage"
      [maxSize]="5"
      [rotate]="true"
      (pageChange)="loadPage(page)"
    >
    </ngb-pagination>
  </div>
</div>
